{{define "head"}}
<head>
    <!-- Required meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<title>{{ .Title }}</title>
	<meta name="keywords" content="{{ .Keywords }}"/>
	<meta name="description" content="{{ .Description }}"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" >

    <link rel="stylesheet" href="/static/css/docs.min.css">

    <link rel="stylesheet" href="/static/css/docsearch.min.css" >

    <link href="/static/css/navbar-top-fixed.css" rel="stylesheet">

    <style>
    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
    }
</style>
</head>
{{end}}