{{define "jump"}}



<!DOCTYPE html>
<html lang="en">
     {{template "head" .}}
  <body>

     {{template "nav" .}}
   
   <div id="toc"></div>

    <div class="container">
        <h1  id="name">{{.Name}}</h1>

        
        <p class="lead">
          最新章节：<a href="{{.ChapterURL}}">{{.Chapter}}</a> {{ if .IsVIP }}<span class="badge badge-danger">VIP</span>{{ end }}
          
          {{ if .IsVIP }}
            <a href="https://www.baidu.com/s?wd={{ .Name }}" class="btn btn-outline-secondary btn-sm" role="button" aria-pressed="true" rel="nofollow">百度</a>
          {{ end }}
        </p>

        <p class="lead">
          作者：<a href="{{.AuthorURL}}" rel="nofollow" >{{.Author}}</a> 
        </p>
        <p class="lead">
          首发：{{.Posted}}   
        </p>
        <p class="lead">
          字数：{{.Total}} 
        </p>
        <p class="lead">
            <a class="btn btn-outline-success btn-sm" href="{{.JumpURL}}" rel="nofollow" role="button">我是大款，我要去支持作者一下</a>
        </p>

        <hr class="my-4">

        <!-- <p>{{.Author}} {{.Posted}} {{.Total}} {{ .UpdatedAt.Format "2006-01-02 15:04:05" }}</p> -->

        <p class="lead">
          {{ if .UnFollowBtm }}
          <a class="btn btn-outline-secondary" href="{{.UnFollowLink}}" rel="nofollow">不感兴趣别烦我</a>
          {{ end }}
          {{ if .FollowBtm }}
          <a class="btn btn-outline-dark" href="{{.FollowLink}}" rel="nofollow">小说更新提醒我</a>
          {{ end }}
        </p>
    </div>


    {{template "footer" .}}

  </body>
</html>


{{end}}