{{define "new"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>Read Follow</title>
        <!-- 引入 WeUI -->
        <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css"/>
    </head>
    <body>
        <!-- 使用 -->

        <div class="weui-panel weui-panel_access">
            
            <div class="weui-panel__hd">
                <h1 class="page__title">最近更新</h1>
            </div>
            <div class="weui-panel__bd">
            {{ if .NotUpdate }}
                <div class="weui-media-box weui-media-box_text">
                    <p class="weui-media-box__desc">没有任何书籍更新</p>
                </div>
            {{ else }}
                {{ range .Books }}
                <div class="weui-media-box weui-media-box_text">
                    <h4 class="weui-media-box__title"><a href="{{.URL}}" class="weui-form-preview__btn_default">{{ .Name }}</a></h4>
                    <p class="weui-media-box__desc">{{ .Chapter }}</p>
                    <ul class="weui-media-box__info">
                        {{ if .UnFollowBtm }}
                        <li class="weui-media-box__info__meta "><a href="{{.UnFollowLink}}" rel="nofollow" class="weui-form-preview__btn_default">弃追</a></li>
                        {{ end }}
                        <li class="weui-media-box__info__meta"><a href="{{ .BookURL }}" rel="nofollow" class="weui-form-preview__btn_default">{{ .Posted }}</a></li>
                        <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">{{ .UpdatedAt.Format "01-02 15:04" }}</li>
                    </ul>
                </div>
                {{ end }}
            {{ end }}
            </div>
        </div>


        
        
		
		<div class="page__bd page__bd_spacing">
			<br>
			<div class="weui-footer">
				<!--<p class="weui-footer__links">
					<a href="javascript:void(0);" class="weui-footer__link">关于我们</a>
					<a href="javascript:void(0);" class="weui-footer__link">免责声名</a>
					<a href="javascript:void(0);" class="weui-footer__link">侵权联系</a>
				</p>-->
				<p class="weui-footer__text">Copyright &copy; 2017 <!--readfollow.com--></p>
			</div>
			<br>
		</div>
    </body>
</html>
{{end}}