{{define "footer"}}


    <script src="http://zeptojs.com/zepto.min.js"></script>
    <!-- <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script> -->
    <!-- <script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script> -->

<script type="text/javascript">
    $(function(){
        var $searchBar = $('#searchBar'),
            $searchText = $('#searchText'),
            $searchInput = $('#searchInput'),
            $searchClear = $('#searchClear'),
            $searchCancel = $('#searchCancel');

        
        function cancelSearch(){
            $searchInput.val('');
            $searchBar.removeClass('weui-search-bar_focusing');
            $searchText.show();
        }

        $searchText.on('click', function(){
            $searchBar.addClass('weui-search-bar_focusing');
            $searchInput.focus();
        });
        $searchInput
            .on('blur', function () {
                if(!this.value.length) cancelSearch();
            })
            .on('input', function(){
                if(this.value.length) {
                    // 暂时未支持

                } else {

                }
            })
        ;
        $searchClear.on('click', function(){
            $searchInput.val('');
            $searchInput.focus();
        });
        $searchCancel.on('click', function(){
            cancelSearch();
            $searchInput.blur();
        });
    });
</script>
		

<div class="page__bd page__bd_spacing">
	<br>
	<div class="weui-footer">
		<p class="weui-footer__links">

            {{ if eq .OpenID  "" }}
            <a href="/" class="weui-footer__link">首页</a>
            <a href="/sign?callback=/" rel="nofollow" class="weui-footer__link">Sign in</a>
            <a href="javascript:void(0);" class="weui-footer__link">关于</a>
			<a href="/rss.xml" class="weui-footer__link">RSS</a>
            {{ else }}
            <a href="/?open_id={{ .OpenID }}" class="weui-footer__link">首页</a>
            <a href="/" class="weui-footer__link">Sign out</a>
            {{ end }}

        </p>
        <br>
		<p class="weui-footer__text">
            Copyright &copy; 2017 &nbsp; &nbsp;<a href="http://www.miitbeian.gov.cn/" rel="nofollow" taeget="_blank">粤ICP备17094378号</a> &nbsp; &nbsp; <b>测试版</b>
        </p>
	</div>
	<br>
</div>
{{end}}