{{define "head"}}
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	<title>{{ .Title }}</title>

	 {{ if ne .Keywords  "" }}
		<meta name="keywords" content="{{ .Keywords }}"/>
	{{ end }}
	{{ if ne .Description  "" }}
		<meta name="description" content="{{ .Description }}"/>
	{{ end }}
	<!-- 引入 WeUI -->
	<link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css"/>
	<link href="https://readfollow.com/rss.xml" rel="alternate" type="application/rss+xml" title="跟读" />
</head>
{{end}}