{{define "hot"}}


<!DOCTYPE html>
<html lang="en">
     {{template "head" .}}
  <body>

     {{template "nav" .}}
   

        <div class="weui-panel weui-panel_access">
            
            <div class="weui-panel__bd">
            {{ if .NotUpdate }}
                <div class="weui-media-box weui-media-box_text">
                    <p class="weui-media-box__desc">还没有任何热门书籍呢</p>
                </div>
            {{ else }}
             {{template "li" .}}
                {{ range .Books }}
                <div class="weui-media-box weui-media-box_text">
                    <h4 class="weui-media-box__title"><a href="{{.URL}}" class="weui-form-preview__btn_default">{{ .Name }}</a></h4>
                    <p class="weui-media-box__desc">{{ .Chapter }}</p>
                    <ul class="weui-media-box__info">
                        {{ if .UnFollowBtm }}
                        <li class="weui-media-box__info__meta "><a href="{{.UnFollowLink}}" rel="nofollow" class="weui-form-preview__btn_default">弃追</a></li>
                        {{ end }}

                        <li class="weui-media-box__info__meta">
                            <a href="{{.ChapterURL}}" class="weui-form-preview__btn_default" rel="nofollow">Go Read</a>
                        </li>
                        
                  
                        {{ if .IsVIP }}
                        <li class="weui-media-box__info__meta">
                        <a href="https://www.baidu.com/s?wd={{ .Name }}" class="weui-form-preview__btn_default"  rel="nofollow">百度一下</a>
                        </li>
                        {{ end }}
                        
                        <li class="weui-media-box__info__meta"><a href="{{ .BookURL }}" rel="nofollow" class="weui-form-preview__btn_default">{{ .Posted }}</a></li>
                        <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">{{ .UpdatedAt.Format "01-02 15:04" }}</li>
                    </ul>
                </div>
                {{ end }}
            {{ end }}
            </div>
        </div>


    {{template "footer" .}}

  </body>
</html>

{{end}}