{{define "li"}}
    {{ range .Books }}
    <div class="weui-media-box weui-media-box_text">


        <h4 class="weui-media-box__title"><a href="{{.URL}}" class="weui-form-preview__btn_default">{{ .Name }}</a></h4>

        <p class="weui-media-box__desc"> <a href="{{.ChapterURL}}" class="weui-form-preview__btn_default" rel="nofollow">{{ .Chapter }}</a></p>

        <p class="weui-media-box__desc">作者</p>


        <ul class="weui-media-box__info">
            

            <li class="weui-media-box__info__meta">
               <a href="{{.UnFollowLink}}" rel="nofollow" class="weui-form-preview__btn_default">顶(10)</a>
            </li>
            <li class="weui-media-box__info__meta">
                <a href="{{.UnFollowLink}}" rel="nofollow" class="weui-form-preview__btn_default"><i class="weui-loading"></i>踩(12)</a> 
            </li>

            <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">{{ .UpdatedAt.Format "01-02 15:04" }}</li>
        </ul>
    </div>
    {{ end }}
{{end}}