{{define "nav"}}
    <div class="page__bd">
        <div class="weui-search-bar" id="searchBar">
            <form class="weui-search-bar__form" action="/find">

                {{ if ne .OpenID  "" }}
                <input type="hidden" name="open_id" value="{{.OpenID}}"/>
                {{ end }}
                <div class="weui-search-bar__box">
                    <i class="weui-icon-search"></i>
                    <input type="search" name="q" class="weui-search-bar__input" id="searchInput" placeholder="请输入完整书名、作者名" autocomplete="off"/>
                    <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
                </div>
                <label class="weui-search-bar__label" id="searchText">
                    <i class="weui-icon-search"></i>
                    <span>龙符</span>
                </label>
            </form>
            <a href="javascript:" rel="nofollow" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
        </div>
    </div>
{{end}}