{{define "sign"}}
<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>Wechat Fans Sign</title>
        <!-- 引入 WeUI -->
        <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css"/>
    </head>
    <body>
        <!-- 使用 -->

        <div class="weui-panel weui-panel_access">
            
            <div class="weui-panel__hd">
				<h1 class="page__title">{{ .ID }}</h1>
				<p class="page__desc">
					<img src="{{ .QrcodeURL }}" />
                </p>
               
            </div>
            
        </div>

         {{template "footer" .}}
         
        <script src="http://zeptojs.com/zepto.min.js"></script>
        <script>
            var isWait = false;
            var callback = "{{.Callback}}";
            var fetch = function () {
                if (isWait) return;
                isWait = true;
                $.getJSON("/validate?id={{ .ID }}", function (data) {
                    if (data == null) return;
                    if(data.Value!=""){
                        window.location.href= callback + "?open_id=" + data.Value; 
                        isWait = true;
                    }else{
                        isWait = false;
                    }
                });
            }
            // Call fetch every 3 seconds
            setInterval(fetch, 3000);
        </script>
    </body>
</html>

{{end}}